@import '../../assets/styles/mixins';
@import  '../../assets/styles/color-themes';

.PanelAdmin {
    @include centered();
    @include flexbox(space-between, start);
    .textLink {
        margin-top: spacing(10);
        margin-left: spacing(2);
  
        .linkOrder:hover {
            text-decoration: underline;
        }
    }
 
}