@import '../../assets/styles/mixins';

.CoffeeInBasket {
    
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    margin-bottom: spacing(4);

    .gridContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 25% 0%;
    }
    .imgContainer {
        // border: 1px solid black;
        width: 200px;
        text-align: center;
        .img {
            // max-width: 150px;
            height: 150px;
            // border: 1px solid red;
        }
    }
  
    .infoText {
        margin-bottom: spacing(0.5);
        max-width: 100px;
    }
}
@include forDesktopHuge {
    .CoffeeInBasket {

        .gridContainer {
            grid-template-columns: 20% 25% ;
        }
     
    }
}