@import '../../../../assets/styles/mixins';
.info {
    @include flexbox(start,end);
    margin-bottom: spacing(8);
    // border: 1px solid red;
    .roasing {
        border-right:1px solid black;
        // max-width: 400px ;
        padding-right: spacing(4);

        .fairImg {
            width: 45px;
            transform: translateX(-25%);
        }

        & > p:last-child {
            margin-top: spacing(2);
        }
    }
    .seedInfoext {
        // @include flexbox(space-between,space-between,column);
        border-right:1px solid black;
        max-width: 420px;
        // height: 217px;
        padding: spacing(0,4); 
        // margin-left: -2px;

        .seedImg {
            width: 45px;
            transform: translateX(-10%);
        }
    }
    .greed {
        @include flexbox(start, center, column);
        // border:1px solid black;
        max-width: 130px;
        // min-height: 300px;
        padding-left: spacing(4);
        // margin-left: -1px;
       
        & > p {
            margin-bottom: spacing(2);
        }

    }
}