// Primitive
$mainBkg: white;
$colorBlack: #292525;
$colorBlack5: #3d3333;
$colorWhite: #ffffff;
$colorBlue: #bedafc;
$colorBlue5: #b2d3fc;
$colorBlue10: #88bbf8;
$colorBlue15: #0064df;
$colorYellow: #FFF500;
$colorRed: #963939;
$colorRed5: #7c6666;
$colorRed10: #9b9898;
$colorGreen: rgb(62, 107, 40);
$colorOrange: rgba(245, 158, 11, 1);
$colorPink: #F86ED6;
$colorPink5: #94387d;

/// light 

$lightRed: rgb(255, 249, 249);
$lightGreen: #f1fdef;
$lightGreen5: #e8f7ef;
$lightBlue: #ebf9fc;
$lightViolet: rgb(251, 246, 255);

$colorLightPink: rgb(170, 156, 161);


// new 
$colorGrey5:  rgb(255, 252, 253);
$colorGray10: rgb(221, 221, 221);
$colorGray15: rgb(241, 241, 241);
$colorDarkGrey: rgb(80, 78, 78);

/// colors for input-range

$lightViolet5: #e9dee3;
$lightViolet10: #ccb8c9;
$brown: #4e3d3d;

// colors for  progressbar

$colorGray20:rgb(202, 190, 190);
$colorGray25: rgb(148, 141, 141);