.swiperWrapper {
    width: 100%;
    position: relative;

    .SwiperSlide {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .imgCoffee {
            max-width: 250px;  
            max-height: 250px;
            
              
        }
        .bigImg {
            max-width: 250px;  
            max-height: 350px;
        }
    }
    .chevrvons {
        position: absolute;
        width: 40px;
        height: 40px;
        top:100px;
        z-index: 2;
    }

    .chevronLeft {
        transform: rotate(180deg);
        left:20px
    }
    .chevronRight {
        right: 20px
    }

  
}
// .swiperAboutPage {
//     width: 40%;
// }