@import '../../assets/styles/mixins';

.containerForm {
    position: relative;
    .title {
        margin-bottom: spacing(6) !important;
  
    }
    .signInBtn {
        margin: spacing(2, 0) !important;

    }
    .errorMessage {
        position: absolute;
        top: 40px
    }
}
