@import '../../assets/styles/mixins';

.Pagination {

    margin-top: spacing(6) ;
    @include flexbox(start);

    .item {
        text-align: center;
        line-height: 40px;
        margin-right: spacing(2);
    }
    .currentPage {
        color: rgb(97, 97, 97);
    }
}